<% layout("/layouts/boilerplate") %>

<div class="row mt-3 error-msg-box">
    <div class="alert alert-danger" role="alert">
        <p class="alert-heading"><%= message %></p>
    </div>      
</div>