<% layout("/layouts/boilerplate") %>

  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Create a new Listing</h3>

      <form method="POST" action="/listings" class="needs-validation" novalidate
       enctype="multipart/form-data" >

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="enter title" type="text" class="form-control"
          required />
          <div class="invalid-feedback">
            Please choose a title.
          </div>
    
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" type="text" class="form-control"
           required ></textarea>
           <div class="invalid-feedback">
            Please provide a valid description.
          </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label"> Upload File</label>
          <input name="listing[image]" type="file" class="form-control" />
        </div>
        
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price" class="form-control" 
            required />
            <div class="invalid-feedback">
              Please provide a valid price.
            </div>
          </div>
          <!-- Here Is dropdown option -->
          <div class="mb-3 col-md-8">
            <label for="category" class="form-label">Category</label>
            <select name="listing[category]" class="form-select" required>
              <option selected>Select category</option>
              <option value="trendings">Trending</option>
              <option value="rooms">Rooms</option>
              <option value="iconicCities">Iconic Cities</option>
              <option value="mountains">Mountains</option>
              <option value="castles">Castles</option>
              <option value="amazingPools">Amazing Pools</option>
              <option value="camping">Camping</option>
              <option value="farms">Farms</option>
              <option value="beach">Beach</option>
              <option value="domes">Domes</option>
              <option value="boats">Boats</option>
              <option value="arctic">Arctic</option>
              <option value="deserts">Deserts</option>
              <option value="homes">Homes</option>
              <option value="luxury">Laxury</option>
              <option value="other">Other</option>
            </select>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" 
            required />
            <div class="invalid-feedback">
              Please provide a valid country.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="enter location" type="text" class="form-control" 
          required/>
          <div class="invalid-feedback">
            Please provide a valid location.
          </div>
      
        </div>
        <button class="btn btn-dark add-btn mb-3">Add</button>
      </form>
    </div>
  </div>