
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* boilerplate- whole-body */
.container{
    flex:1;
}

/* NAVBAR */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #2b2b2b;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}


/* FOOTER */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
}

/* CARDS */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text{
    font-weight: 400 !important;
    color: black;
}
.listing-link{
    text-decoration: none !important;
}
/* CARD EFFECT */
.card-img-overlay{
   opacity: 0; 
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* SHOW PAGE */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
/* .btn-delete{
    background-color: #fe424d !important;
} */
.show-card{
    padding-left: 0%;
    padding-right: 0%;
}

/* MAP Styling */
#map {
    width: 80vh;
    height: 400px; 
}
/* tax toogle */
.tax-info{
    display: none;
}
